openapi: "3.0.0"
info:
  version: 1.0.0
  title: Hello API
  description: A simple test API
paths:
  /hello:
    get:
      operationId: GetHello
      summary: Say hello
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          description: Name to greet
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelloResponse"
components:
  schemas:
    HelloResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: "Hello, World test"
